{% if not favorites %}
  <div class="container py-5" id="items-favorite-container-1">
    <div class="row" id="items-favorite-row-1">
      <div class="col-lg-12 text-center" id="items-favorite-1">
        <h5 style="color: #3B1A4E;"><i class="far fa-folder-open fa-sm"></i> Not favorites yet</h5>
      </div>
    </div>
  </div>
{% else %}
  {% for favorite in favorites %}
    <div class="col-sm-3 my-1" id="items-card-col">
      <div class="card shadow-sm multi-collapse" id="collapse_favorites"
      style="color: #3B1A4E; border-color: #BC96E6;">
        {% if favorite.image_cover %}
          <img src="{{favorite.image_cover}}" class="card-img-top">
        {% endif %}
        <div class="card-body" id="items-card-body">
          <h4 class="card-title" id="items-card-title">{{favorite.title}}</h4>
          {% if favorite.description %}
            <p class="card-text" id="items-card-text">{{favorite.description|truncatewords:50}}</p>
          {% endif %}
          <a href="{% url 'ui:results' favorite.types favorite.uuid %}" class="btn btn-info btn-block mb-2">
            <i class="fas fa-external-link-alt fa-sm"></i> Show more...
          </a>
          <form action="{% url 'ui:favorites' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="uuid" value="{{favorite.uuid}}">
            <input type="hidden" name="form_type" value="delete">
            <button type="submit" class="btn btn-danger btn-block">
              <i class="fas fa-trash-alt fa-sm"></i> Delete
            </button>
          </form>
        </div>
        <ul class="list-group list-group-flush">
          {% if favorite.rating %}
            <li class="list-group-item" id="items-card-list-group">
              <b>Rating:</b> {{favorite.rating}}
            </li>
          {% endif %}
          {% if favorite.duration %}
            <li class="list-group-item" id="items-card-list-group">
              <b>Duration:</b> {{favorite.duration}}
            </li>
          {% endif %}
        </ul>
        <div class="card-footer text-muted text-center" id="items-card-footer"
        style="color: #3B1A4E;">
          {{favorite.release_date}}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
