<div class="container py-5" id="introduction-documentation-container">
  <div class="row" id="introduction-documentation-row-1">
    <div class="col-lg-12" id="introduction-documentation-col-1">
      <div class="media">
        <div class="media-body" style="color: #3B1A4E;">
          <h3 class="mt-0">
            <i class="fas fa-play-circle fa-sm" style="color: #48215F;"></i>
            All you need to know to get started with the back project
          </h3>
            <p>
              This API open source project was made with
              <a href="https://www.django-rest-framework.org/" class="btn-link">
              Django REST framework, </a> which is a framework written in python and defines
              itself "Powerful and flexible toolkit for building Web APIs."
            </p>
            <p>
              The resources are obtained from <a href="https://imdb-api.com/api" class="btn-link">
              IMDb</a> for the movies and series, <a href="https://api-docs.igdb.com/"
              class="btn-link">IGDB</a> for the games and
              <a href="https://developer.spotify.com/documentation/web-api/" class="btn-link">
                Spotify
              </a> for the music.
            </p>
            <p>
              Authentication and versioning works in the <code>headers</code>, for example:
            </p>
            <table class="table" style="color: #48215F;">
              <thead>
                <tr>
                  <th scope="col">Key</th>
                  <th scope="col">Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Authorization</th>
                  <td><code>authorization key</code></td>
                </tr>
                <tr>
                  <th scope="row">Secret</th>
                  <td><code>secret key</code></td>
                </tr>
                <tr>
                  <th scope="row">Accept</th>
                  <td><code>application/json; version=v1</code></td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
