<div class="container py-5" id="introduction-container">
  <div class="row" id="introduction-row-1">
    <div class="col-lg-12 my-5" id="introduction-col-1">
      <div class="media">
        <i class="fas fa-question fa-5x px-5" style="color: #48215F;"></i>
        <div class="media-body" style="color: #3B1A4E;">
          <h3 class="mt-0">What is this?</h3>
            <p>
              This is an API open source project, the main aim of this API is allow to the user
              search between several services in one page, you can search between movies, series,
              games and music for now.
            </p>
            <p>
              The API works with others database API's for get the information that maybe you are
              watching now,. If you are more interesting this is an open source project, you can
              check out on <a href="https://github.com/ignite7/backproject" class="btn-link">github.</a>
            </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 my-5" id="introduction-col-2">
      <div class="media">
        <div class="media-body" style="color: #3B1A4E;">
          <h3 class="mt-0">How can I use it?</h3>
            <p>
              The usage it's simple if you want make a search make it in the search bar, it's
              important to know if you are a visitor you can only make 3 searches per hour becuase
              this is only an instance of our API, if you want to use the API for develop
              porpuses <a href="#" data-toggle="modal" data-target="#modal-signup" class="btn-link" >
              signup</a> and get your keys to work with the API and of course here you have the
              <a href="{% url 'ui:documentation' %}" class="btn-link">documentation.</a>
            </p>
        </div>
        <i class="fas fa-book-open fa-5x px-5" style="color: #48215F;"></i>
      </div>
    </div>
    <div class="col-lg-12 my-5" id="introduction-col-3">
      <div class="media">
        <i class="fas fa-hands-helping fa-5x px-5" style="color: #48215F;"></i>
        <div class="media-body" style="color: #3B1A4E;">
          <h3 class="mt-0">Do you have any question or great idea?</h3>
            <p>
              If you have any doubt or you have if you have any suggestion or better yet a
              great idea that you want to share for improve the API don't hesitate in
              <a href="{% url 'ui:contact' %}" class="btn-link">contact us,</a> or show our
              repository on <a href="https://github.com/ignite7/backproject" class="btn-link">github.</a>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>
