<div class="container py-5" id="index-introduction-container">
  <div class="row" id="index-introduction-row-1">
    <div class="col-lg-12 my-5" id="introduction-col-1">
      <div class="media">
        <i class="fas fa-info-circle fa-5x px-5" style="color: #48215F;"></i>
        <div class="media-body" style="color: #3B1A4E;">
          <h3 class="mt-0">How works search by date?</h3>
            <p>
              If you want see the lastes movies, series, games or music are coming out this is the
              correct page, Futhermore if you can search something in specific you can search it as
              well.
            </p>
            <p>
              Check out the <a href="{% url 'ui:documentation' %}" class="btn-link">documentation</a>
              for more information about how to use this endpoint.
            </p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 my-5" id="introduction-col-2">
      <div class="media">
        <div class="media-body" style="color: #3B1A4E;">
          <h3 class="mt-0">Please consider this...</h3>
            <p>
              Don't forget this is a open source project what does mean sometimes retrieve the
              coming soons movies, series, games or music can be hard, thank you for understanding.
            </p>
        </div>
        <i class="fas fa-exclamation-triangle fa-5x px-5" style="color: #48215F;"></i>
      </div>
    </div>
  </div>
</div>
