{% extends 'base.html' %}

{% block css %}
  {% load static %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block title %}
  <title>{{title}}</title>
{% endblock %}

{% block content %}
  <div class="container py-5" id="account-container-1">
    <div class="row" id="account-row-1">
      <div class="col-lg-12 text-center" id="account-col-1">
        <h3 id="main-text-color" style="color: #3B1A4E;">
          <i class="fas fa-user-cog fa-sm"></i> Hello @{{users.username}} to your settings.
        </h3>
        <h5 style="color: #3B1A4E;">
          Here you can take a look to your keys, edit your profile or delete it, remember your
          information will not never share with anyone else.
        </h5>
      </div>
    </div>
  </div>
  <div class="container py-2" id="account-container-2">
    <div class="row" id="account-row-1">
      <div class="col-lg-12 my-5" id="account-col-2">
        <div class="media">
          <div class="media-body" style="color: #3B1A4E;">
            <h3 class="pb-2">
              <i class="fas fa-key fa-sm" style="color: #48215F;"></i> My keys
            </h3>
              <p>
                Remember not share your keys with anyone else, they are unique, everytime you
                logged in the keys will be renew. Everytime you need to do an important action
                you will need your keys for confirm those actions, nevertheless, if you have
                doubts about have to use it take a look to the <a href="{% url 'ui:documentation' %}"
                class="btn-link">docs.</a>
              </p>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Authorization</div>
                  </div>
                  <input type="password" class="form-control" name="authorization" id="authorization"
                  value="{{request.session.token.Authorization}}" readonly>
                  <button onclick="if (authorization.type == 'text') authorization.type = 'password';
                  else authorization.type = 'text';" class="border-0 mx-2">
                    <i class="fas fa-eye fa-sm" style="color: #48215F;" id="eye-icon"></i>
                  </button>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Secret</div>
                  </div>
                  <input type="password" class="form-control" name="secret" id="secret"
                  value="{{request.session.token.Secret}}" readonly>
                  <button onclick="if (secret.type == 'text') secret.type = 'password';
                  else secret.type = 'text';" class="border-0 mx-2">
                    <i class="fas fa-eye fa-sm" style="color: #48215F;" id="eye-icon"></i>
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-2" id="account-conatiner-2">
    <div class="row" id="account-row-2">
      <div class="col-lg-6 pb-5" id="account-col-2">
        <h3 class="pb-2">
          <i class="fas fa-address-card fa-sm" style="color: #48215F;"></i> User info
        </h3>
        <div class="card border-info" style="color: #48215F; max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4 py-2 px-2 text-center">
              {% if request.user.picture %}
              <img src="{{request.user.picture.url}}"
              class="card-img d-inline-block rounded-lg border" height="125" width="50">
              {% else %}
              <i class="far fa-user-circle fa-7x"></i>
              {% endif %}
              <button class="btn btn-danger btn-block my-3" data-toggle="modal"
              data-target="#modal-delete-user">
                <i class="fas fa-user-times fa-sm"></i> Delete profile
              </button>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">@{{users.username}}</h5>
                <p class="card-text">
                  <b>Email:</b> {{users.email}}<br>
                  {% if users.first_name %}<b>First name:</b> {{users.first_name}}<br>{% endif %}
                  {% if users.last_name %}<b>Last name:</b> {{users.last_name}}<br>{% endif %}
                  {% if users.phone  %}<b>Phone:</b> {{users.phone}}{% endif %}
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated {{users.modified_at}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6" id="account-col-3">
        <div class="row">
          <div class="col-sm-6 py-5">
            <div class="card border-info" style="color: #48215F;">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-star fa-sm"></i> Favorites</h5>
                <p class="card-text py-3">Take a look to your favorites items.</p>
                <a href="{% url 'ui:favorites' %}" class="btn btn-primary btn-block">
                  <i class="fas fa-external-link-alt fa-sm"></i> Go my favorites
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 py-5">
            <div class="card border-info" style="color: #48215F;">
              <div class="card-body">
                <h5 class="card-title"><i class="fas fa-history fa-sm"></i> History</h5>
                <p class="card-text py-3">Do you want to go back? watch your records.</p>
                <a href="{% url 'ui:history' %}" class="btn btn-primary btn-block">
                  <i class="fas fa-external-link-alt fa-sm"></i> Go my history
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-2" id="account-container-3">
    <div class="row" id="account-row-3">
      <div class="col-lg-12 py-5" id="account-col-4">
        <h3 class="pb-2">
          <i class="fas fa-user-edit fa-sm" style="color: #48215F;"></i> Update profile
        </h3>
        <form action="{% url 'ui:account' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {% crispy form %}
        </form>
      </div>
    </div>
  </div>

  <!-- Modal login -->
  <form action="{% url 'ui:account' %}" method="POST" >
    {% csrf_token %}
    <div class="modal fade" id="modal-delete-user" tabindex="-1"
    aria-labelledby="modal-delete-user-label" aria-hidden="true" style="color: #3B1A4E;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete">
              <i class="fas fa-user-times fa-sm"></i> Delete profile
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6 class="text-center pt-1 pb-3 ">
              <b>Important,</b> this action can not be recovery later.
            </h6>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Authorization</div>
                </div>
                <input type="password" class="form-control" name="authorization" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Secret</div>
                </div>
                <input type="password" class="form-control" name="secret" required>
              </div>
            </div>
          </div>
          <input type="hidden" name="form_type" value="delete_user">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete profile</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
