{% extends 'base.html' %}

{% block title %}
  <title>{{title}}</title>
{% endblock %}

{% block content %}
  <div class="container py-5" id="history-container-1">
    <div class="row" id="history-row-1">
      <div class="col-lg-12 text-center" id="history-col-1">
        <h3 id="main-text-color" style="color: #3B1A4E;">
          <i class="fas fa-history fa-sm"></i> Here are all your searches.
        </h3>
        <h5 style="color: #3B1A4E;">
          Now you can watch your last searches, remember you can do again the search or delete
          it if you don't want to see it anymore.
        </h5>
      </div>
    </div>
  </div>
  <div class="container pt-5" id="history-container-2">
    <div class="row" id="history-row-2">
      <div class="col-lg-12" id="history-col-2">
        <p>
          <button class="btn btn-primary my-1" type="button" data-toggle="collapse"
          data-target=".multi-collapse" aria-expanded="false">
            Searches
          </button>
          <button class="btn btn-danger my-1" type="button" aria-expanded="false"
          data-toggle="modal" data-target="#modal-delete-all-history">
          <i class="fas fa-trash-alt fa-sm"></i> Detele all
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="container" id="history-container-3">
    <div class="row" id="history-row-3">
      <div class="col-lg-12" id="history-col-3">
        <div class="row" id="history-row-4">
          {% include 'ui/items/items_history.html' %}
        </div>
      </div>
    </div>
  </div>
  {% include 'pagination.html' %}
  <div class="py-5"></div>

  <!-- Modal delete history -->
  <form action="{% url 'ui:history' %}" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="modal-delete-all-history" tabindex="-1"
    aria-labelledby="modal-delete-all-history-label" aria-hidden="true" style="color: #3B1A4E;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-delete-all-history">
              <i class="fas fa-trash-alt fa-sm"></i> Delete history
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6 class="text-center pt-1 pb-3 ">
              <b>Important,</b> this action can not be recovery later.
            </h6>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Authorization</div>
                </div>
                <input type="password" class="form-control" name="authorization" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Secret</div>
                </div>
                <input type="password" class="form-control" name="secret" required>
              </div>
            </div>
          </div>
          <input type="hidden" name="form_type" value="delete_all">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete history</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
