<div class="row border border-info py-2" id="documentation-nav-row-1">
  <div class="col-lg-6">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-auth-tab" data-toggle="pill" href="#v-pills-auth"
      role="tab" aria-controls="v-pills-auth" aria-selected="true">Authentication</a>
      <a class="nav-link" id="v-pills-searches-tab" data-toggle="pill" href="#v-pills-searches"
      role="tab" aria-controls="v-pills-searches" aria-selected="false">Searches</a>
      <a class="nav-link" id="v-pills-history-tab" data-toggle="pill" href="#v-pills-history"
      role="tab" aria-controls="v-pills-history" aria-selected="false">History</a>
      <a class="nav-link" id="v-pills-favorite-tab" data-toggle="pill" href="#v-pills-favorite"
      role="tab" aria-controls="v-pills-favorite" aria-selected="false">Favorite</a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="tab-content" id="v-pills-tabContent">
      <ul class="tab-pane fade show active" id="v-pills-auth" role="tabpanel"
      aria-labelledby="v-pills-auth-tab">
        <li><a href="#signup">Signup</a></li>
        <li><a href="#email-confirmation">Email confirmation</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="#logout">Logout</a></li>
        <li><a href="#change-password">Change password</a></li>
        <li><a href="#change-password-confirmation">Change password confirmation</a></li>
        <li><a href="#retrieve-user">Retrieve user</a></li>
        <li><a href="#update-user">Update user</a></li>
        <li><a href="#delete-user">Delete user</a></li>
      </ul>
      <ul class="tab-pane fade" id="v-pills-searches" role="tabpanel"
      aria-labelledby="v-pills-searches-tab">
        <li><a href="#uuid">Id</a></li>
        <li><a href="#all">All</a></li>
        <li><a href="#date">Date</a></li>
        <li><a href="#coming-soon">Coming Soon</a></li>
      </ul>
      <ul class="tab-pane fade" id="v-pills-history" role="tabpanel"
      aria-labelledby="v-pills-history-tab">
        <li><a href="#retrieve-history">Retrieve</a></li>
        <li><a href="#create-history">Create</a></li>
        <li><a href="#delete-history">Delete id</a></li>
        <li><a href="#delete-all-history">Delete all</a></li>
      </ul>
      <ul class="tab-pane fade" id="v-pills-favorite" role="tabpanel"
      aria-labelledby="v-pills-favoritetab">
        <li><a href="#retrieve-favorite">Retrieve</a></li>
        <li><a href="#create-favorite">Create</a></li>
        <li><a href="#delete-favorite">Delete id</a></li>
        <li><a href="#delete-all-favorite">Delete all</a></li>
      </ul>
    </div>
  </div>
</div>
